.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  width: 32px;
  margin-right: 10px;
}

.brand {
  display: flex;
  align-items: center;
}

.brand strong {
  margin-right: 6px;
}

.signed-in {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.signed-in img {
  margin-right: 6px;
}

mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
