<form [formGroup]="form" class="form">
  <mat-form-field class="field">
    <mat-label>Login</mat-label>
    <input matInput formControlName="login" type="text" />
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" />
  </mat-form-field>
  <button mat-button color="primary" type="submit" (click)="signIn()">
    Sign In
  </button>
  <div class="info">
    <div>Valid login: <code>demo</code></div>
    <div>Valid password: <code>demo</code></div>
  </div>
  <div *ngIf="error" class="error">
    Error:
    <pre><code>{{ error | json }}</code></pre>
  </div>
</form>
